* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    /*background-color: #32a3ff;*/
    background-color: rgb(37, 37, 37);
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid rgb(58, 58, 58);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

body{
    background-color: rgb(83, 83, 83);
}

header button {
    margin-left: 16px;
}

form {
    background-color: rgb(83, 83, 83);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
    color: #fff;
}

input, button {
    padding: 8px;
}

button {
    background-color: #019131;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

button:hover {
    background-color: #01b83e;
}

#botao-cancelar {
    background-color: rgb(214, 0, 0);
}

#botao-cancelar:hover {
    background-color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 350px;
    overflow: hidden;
}

ul li img {
    width: 100%;
}

.overlay-imagem-link {
    padding: 10px 10px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}